body {   
    color: rgb(161, 154, 154) ;
    background-color: black;   
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;  
    }

.background {
  background: url("../IMG/720p.mp4");
  background: url("../IMG/earth-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** cas v hederu **/
#cas {color: rgba(0, 126, 42, 0.664);
font-size: 20px;
}

h1 {
  color: black;
}
 
a {
  color: #f2f2f2;
    text-decoration: none;  
}

.issmodul {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.rr {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;   
  grid-template-columns: auto;
  gap: 10px;
}

.rr > div li{
  background-color: rgba(139, 139, 139, 0.635);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: x-large;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition-duration: 0.5s;
  cursor: crosshair;
  margin: 10px;
}

.ee {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;   
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 10px;
}

.ee > div li{ 
  background-color: rgba(139, 139, 139, 0.635);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: x-large;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 10px;
  transition-duration: 0.5s;
  cursor: crosshair;
}

.rr li:hover { 
  background-color: #f2f2f2;
  color: rgb(155, 30, 30);
}

.ee li:hover {  
  background-color: #f2f2f2;
  color: rgb(155, 30, 30);
}

@media (min-width: 400px) {
  .rr { grid-template-columns: repeat(1, 1fr);
  padding-top: 60px;}
}

@media (min-width: 400px) {
  .ee { grid-template-columns: repeat(1, 1fr);}
}

@media (min-width: 900px) {
  .ee { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1200px) {
  .ee { grid-template-columns: repeat(3, 1fr); }
  }

@media (max-width: 900px) {
  .issmodul { display: none;}
   }
  
@media (min-width: 1200px) {
  .blok2 { grid-template-columns: repeat(2, 1fr); }
   }    
  
.button {
 box-sizing: border-box;
 text-align: center;
 height: 100px;
 color: white;
 background: #414042;
 padding: 50px 0 0 0;
 clip-path: ellipse(130px 140px at 10% 20%);
}      

footer {
  color: #414042;
  text-align: left;
  background-color: #f2f2f2;
}

/** clanek **/

.blok1 {
  max-width: 2000px;
  margin: 0 auto;
  display: grid;   
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 100px;
}

.blok1 > div {
  background-color: rgba(139, 139, 139, 0.635);
  border-radius: 10px;
  padding: 30px;
  text-align: justify;
  font-size: large;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 10px;
}

.blok1 h1 {
  text-align: center;
}

.blok1 :hover {  
  background-color: #464646;
}

.blok1a {
  padding-top: 25px;
  text-align: center;
  border-radius: 15px;
}

@media (min-width: 400px) {
  .blok1 { grid-template-columns: repeat(1, 1fr);}  
}

@media (min-width: 1000px) {
  .blok1 { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1600px) {
    .blok1 { grid-template-columns: repeat(3, 1fr); }
  }

  /** kosmonaut **/

.blok2 {
  margin-top: 100px;
  display: grid;
  background: #000000;
  color: white; 
}

.blok2a{ 
  margin-top: 10px;
}
       
.blok2b{ 
  padding-top: 50px;
  margin-right: 100px;
  margin-left: 50px;
  margin-bottom: 40px;
  color: #f2f2f2;
  font-size: 20px;
  text-align:justify;
  font-weight: bold;
}

@media (max-width: 800px) {
    .blok2b {  
     display: grid;
     padding: 10px;
     margin-right: 10px;
     margin-left: 10px;
     }
  }
       
.blok2 :hover{
  color: rgb(250, 239, 226);
}     

/** technické informace **/
.blok4 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: url("../IMG/issbackground2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.blok4a {
  color: #f2f2f2;
  padding: 20px;
  margin: 100px;
  background-color: rgba(139, 139, 139, 0.635);
  border-radius: 10px;    
  text-align: center;
  font-size: large;
  border: 1px solid rgba(255, 255, 255, 0.8);  
}

@media (max-width: 800px) {
    .blok4a{ grid-template-columns: repeat(1, 1fr); 
     display: grid;
     padding: 10px;
     margin-left: 20px;     
     text-align: center;
    }
}

.blok4b {
    color: #f2f2f2;
    padding: 20px;
    margin: 100px;
    background-color: rgba(139, 139, 139, 0.635);
    border-radius: 10px;
    text-align: center;
    font-size: large;
    border: 1px solid rgba(255, 255, 255, 0.8);        
}

@media (max-width: 800px) {
    .blok4b {  
     display: grid;
     padding: 10px;
     margin-right: 20px;   
     text-align: center;}
}

.blok4 :hover {
  background-color: #464646;
}

/** patička **/
.blok6 {
    color: #f2f2f2;
    background-color: #2c2c2a;
    display: grid;   
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.blok6a {
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: right;
  }

.blok6b {
    margin-top: 45px;
    border-radius: 10px;
    text-align: left;
}

input {color: rgb(41, 41, 40);
    background-color: rgb(201, 204, 204);
    border-radius: 10px;
    font-size: large;
}
        
button {  border-radius: 10px;
    font-size: large;
}
      th {
        color: rgb(145, 145, 145)
      }
      td {
        color: silver;
      }